<?xml version="1.0" encoding="UTF-8"?>

<suite name="DemoQA Suite">

    <test name="Login Tests">
        <classes>
            <class name="BaseTest.LoginTest"/>
        </classes>
    </test>

    <test name="Register Tests">
        <classes>
            <class name="BaseTest.RegisterTest"/>
        </classes>
    </test>

    

</suite>